/* experienceAdmin.module.css */

.experienceAdminContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.experienceAdminForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.experienceAdminInput,
.experienceAdminTextarea {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%; /* Added for full width */
}

.experienceAdminButton {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.experienceAdminButton:hover {
  background-color: #0056b3;
}

.historyMenu {
  /* Added styles for the history menu */
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.experienceList {
  list-style-type: none;
  padding: 0;
}

.experienceListItem {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experienceListItem span {
  margin-right: 10px;
}

.experienceListItem button {
  background-color: #dc3545;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.experienceListItemButtonUpdate {
  background-color: #2fff00 !important;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.experienceListItem button:hover {
  background-color: #c82333;
}
